* {
    box-sizing: border-box;
}
body {
    color: #000;
    margin: 0 auto;
    max-width: 790px;
    min-width: 200px;
    padding: 10px 30px 0;
    background-color: #fff;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
h1 {
    margin: 0 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
}
header {
    border-bottom: 1px solid #eee;
}
header .eslint-logo {
    font-weight: 400;
    letter-spacing: -1.8px;
    color: rgb( 102, 102, 102 );
}
header .eslint-logo > img {
    width: 51px;
    float: left;
    height: 39px;
    margin-left: -8px;
}
header .eslint-logo .eslint-version {
    font-size: 22px;
    letter-spacing: 0;
}
header .meta {
    font-size: 12px;
    margin: 0 0 10px;
}
.issues {
    margin: 0;
    padding: 0;
    list-style: none;
}
.issue {
    cursor: pointer;
    position: relative;
    padding: 5px 0 5px 85px;
    border-bottom: 1px solid #ededed;
}
.issue::before {
    left: 0;
    top: 3px;
    color: #666;
    font-size: 10px;
    position: absolute;
    content: attr( data-index );
}
.details {
    font-size: 14px;
    margin: 5px 0 8px;
}
.details .line {
    width: 70px;
    color: #666;
    margin-left: -75px;
    display: inline-block;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
.details .line .row {
    width: 30px;
    text-align: right;
    display: inline-block;
}
.details .line .column {
    width: 30px;
    text-align: left;
    display: inline-block;
}
.message code {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
pre {
    margin: 0 0 0;
    overflow: auto;
    font-size: 85%;
    display: block;
    font-size: 12px;
    white-space: pre;
    word-wrap: normal;
    line-height: 1.45;
    padding: 16px 16px 6px;
    background-color: #f7f7f7;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
pre::after {
    color: #888;
    display: block;
    content: attr( data-pointer );
}
.severity-1 .message:before {
    content: '⚠️ ';
}
.severity-2 .message:before {
    content: '🚫️ ';
}
.severity-1:hover .source {
    border-color: rgb( 255, 225, 67 );
}
.severity-2:hover .source {
    border-color: rgb( 255, 0, 0 );
}
.rule-id {
    font-size: 10px;
    margin: 8px 0 5px;
    text-transform: uppercase;
}
footer {
    font-size: 12px;
    margin: 10px 0 0;
    padding: 5px 0 5px;
}
footer p {
    margin: 0;
}
